@model List<NumberBox>

<section id="rakamlar" class="section section-numbers">
  <div class="container">
    <div class="numbers-grid">
      @foreach (var box in Model)
      {
          <div class="number-box" data-animate>
            <div class="number-icon">
              @Html.Raw(box.SvgIcon)
            </div>
            <span class="number-value" data-target="@box.TargetValue">0</span>
            <span class="number-label">@box.Label</span>
          </div>
      }
    </div>
  </div>
</section>
